footer{
    background-color: #000050;
    padding: 1.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footerContent{
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}