*{
    margin: 0;
    padding: 0;
}

.appContainerGral{
    background-color: #000084;
    color: #ffffff;
}
::-webkit-scrollbar {
    width: 0.5rem;
    margin: 0;
    background-color: #000000;
  }
  ::-webkit-scrollbar-thumb {
    background: #000084;
    border-radius: 0.5rem;
    border-right: solid #000000 2px;
  }